<!DOCTYPE html>
<html lang="en">
  <%-include('header',{})%>
  <head>
    <link rel="stylesheet" href="homepage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <title>Home Page</title>
  </head>
  <body>
    <%- include('nav',{user_id:user_id})-%>
    <h1>Welcome Back <%=user.name%></h1>
    <%if (habits.length>0){%> <% habits.forEach((habit,index)=>{%>
    <div class="habit">
      <h3 class="lead"><%=habit.habit%></h3>
      <img
        class="
          animate__animated animate__slow animate__bounce animate__infinite
          animatedAvatar
        "
        src="/avatar/<%=habit.avatar%>/<%=avatarState[index]%>"
      />
      <form action="/update/<%=habit.id%>">
        <button class="btn btn-default" type="submit">Feed Me!</button>
      </form>
    </div>
    <%})%> <%}else{%>
    <div class="habit">
      <h3 class="lead">You have no ongoing habit. Create a habit today!</h3>
    </div>
    <%}%>
  </body>
</html>
