<!DOCTYPE html>
<html lang="en">
  <%-include('partials/header',{})%>
  <head>
    <link rel="stylesheet" href="homepage.css" />

    <title>Home Page</title>
  </head>
  <body>
    <%- include('partials/nav',{user_id:habits[0].user_id})-%>
    <h1>Welcome Back <%=user.name%></h1>
    <%if (habits.length>0){%> <% habits.forEach((habit)=>{%>
    <div class="habit">
      <h3 class="lead"><%=habit.habit%></h3>
      <img src="avatar/<%=habit.avatar%>/happy" />
      <form action="/update/<%=habit.id%>">
        <button class="btn btn-default" type="submit">Feed Me!</button>
      </form>
    </div>
    <%})%> <%}else{%>
    <div class="habit">
      <h3 class="lead">You have no ongoing habit. Create a habit today!</h3>
    </div>
    <%}%>
  </body>
</html>
