<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome Back <%=user.name%></h1>
    <%if (habits.length>0){%> <% habits.forEach((habit)=>{%>
    <p><%=habit.habit%></p>
    <img src="avatar/<%=habit.avatar%>/happy" />
    <form action="/update/<%=habit.id%>">
      <button type="submit">Feed Me!</button>
    </form>
    <%})%> <%}else{%>
    <p>You have no ongoing habits</p>
    <%}%>
    <form action="/create/<%=habits[0].user_id%>">
      <button type="submit">Create Habit</button>
    </form>
    <form action="/logout">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
